body {
    font-family: "Bebas Neue", "Montserrat", sans-serif;
}

header {
    display: flex;
    width: 100%;
    margin: 10px;
}



#timer {
    float: right;
    text-align: right;
    width: 50%;
    padding-right: 10px;
    padding-top: 1px;

}

main {
    display: flex;
    justify-content: center;
    text-align: left;
}
section {
    position: absolute;
    top: 40px;
    width: 600px;
    padding: 50px;
    z-index: 0;
}
h1 {
    font-style: Bold;
    font-size: 250%;
    color: darkslateblue;
    padding: 10px;
}

p {
    font-size: 120%;
    padding: 10px;
}

main button {
    display: block;
    background-color: darkslateblue;
    color: white;
    min-height: 15px;
    margin-bottom: 5px;
    margin-left: 10px;
    padding: 1px 2px 1px 2px;
    min-width: 100px;
    text-align: left;
    letter-spacing: 1px;
    border-radius: 7px;
}

#high {
    font-style: bold;
    color:darkslateblue;
    width:48%;
    padding-left: 10px;
    background: none;
    border: none;
    text-align: left;
}

#startButton {
    min-width: 80px;
    justify-content: center;
}

#startScreen {
    text-align: center;
}

#highscores, #questionScreen, #resultScreen {
    visibility: hidden;
}

#questionScreen {
    z-index: 1;
    display: block;
    justify-content: center;
    text-align: left;
}

#questionScreen h2 {
    margin: 10px;
    width: 100%;
    border-top: 2px solid darkgray;
    color: darkgray;
    padding-top: 10px;
    letter-spacing: .5px;
    visibility:hidden;
}

#resultScreen {
    display: inline-block;
    justify-content: center;
    text-align: left;
}

#resultScreen label{
    padding: 10px;
    font-size: 115%;
}

#submitInput {
    display: inline;
    min-width: 70px;
    text-align: center;
    margin: 0;
}

#highscores {
    display: block;
    justify-content: center;
    text-align: left;
}

#highscores button {
    display: inline;
    min-width: 100px;
    text-align: center;
}

#leaderboards li {
    padding: 5px 5px 5px 20px;
    margin-bottom: 5px;
    border: 2px solid darkslateblue;
    font-size: 120%;
}